NEXT_PUBLIC_SUPABASE_URL=https://lyfktowdkjpcvspfpmbx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5Zmt0b3dka2pwY3ZzcGZwbWJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3NTU0ODEsImV4cCI6MjEwNjMzMTQ4MX0.nSqT5_8ILaomv5Ll7APyziFpghwQg_yj2gzeF2ZC8MU
NEXT_PUBLIC_SITE_URL=http://localhost:3000
